.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #c4bdc3;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pCard{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.Navbar{
  background-color: rgb(196, 189, 195);
}
.card{
  width: 70%;
  margin: 20px;
  left: 15%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

h1,h2{
  color: white;
  text-align: center;
  margin: 10px;
  padding: 10px;

}
h3{
  color: rgb(61, 18, 65);
  text-align: center;
  margin: 10px;
  padding: 10px;
}
h5{
  margin: 20px;
  padding: 15px;
}
.btn{
  margin: 5px;
}
.fa-linkedin {
  background:  rgb(196, 189, 195);
  color: white;
}
.fa-github {
  background:  rgb(196, 189, 195);
  color: white;
  
}
.fa {
  margin-right: 10px;
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.social{
  text-align: center;


}
.profile:hover{
  opacity: 0.7;
  border: solid 5px  rgb(105, 61, 99);

}
.main-col{
  background:  rgb(196, 189, 195);
 
}
.padd{
  padding: 20px;
}
.cover{
  margin-bottom: 50px;
}